<div class="flex w-full justify-center flex-wrap">
  <div class="bg-white w-1/4 shadow rounded m-3">
    <%# <img src="<%= asset_pack_path 'images/no-food-image.svg' %1>" class="w-full h-32 bg-orange-lightest" /> %>
    <div class="p-8">
      <h2 class="text-lg">bla</h2>
    </div>
  </div>
</div>

