<div class="flex w-full justify-center items-center flex-col">
  <%= for recipe <- @recipes do %>
    <div class="bg-white w-1/3 shadow rounded m-3 border-t border-orange hover:bg-orange-lightest hover:cursor-pointer">
      <div class="p-8">
        <h2 class="text-lg"><%= recipe.name %></h2>
        <small>Tag1, Tag2, Tag3</small>
      </div>
    </div>
  <% end %>
</div>

